.card-body-custom{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  position: relative;
  width: 100%;
  color: white;
}
//.container-custom{
//  margin-top: 100px;
//  margin-left: 20%;
//  //width: 60%;
//}
.row-custom{
  width: 140%;
  justify-content: center;
  align-content: center;
  right: 15%;
  position: relative;
  margin-top: 15px;
}